/* From cssbuttons.io by @nikk7007 */
.main_button {
  border-radius: 10px;
  padding: 0.8em 1.8em;
  border: 2px solid #5B42F3;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #5B42F3;
  cursor: pointer;

  &::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #5B42F3;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover::before {
    width: 105%;
  }

  &:hover {
    color: #fff;
  }
}

/* From cssbuttons.io by @adamgiebl */
.home__button {
  position: absolute;
  right: 300px;
  top: 80px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;

  &:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
  }

  &:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
  }

  i {
    font-size: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
